#slider-container, #info-container {
	width: 80%;
	margin: 0 auto;
}
#info-container{
	margin-top: 30%;
}
.slider{
	width: 100%;
	left:10%;
	overflow: hidden;
	background-image: url('../about/img/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.slider img{
	position: absolute;
	width: 60%;
	left:20%;
	display: none;
}

#info p{
	text-indent: 20px;
	font-family: Helvetica, Arial;
	font-size: 1em;
	line-height: 1.4em;
}
