.thumbHolder{
	width:80%;
	margin:10px auto;
}

.thumbs{
	margin:5px;
	float: left;
	width: 200px;
	height: auto;
}

.thumbs img{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.thumbs p{
	width: 100%;
	font-family: 'Arial','Helvetica','sans-serif';
	font-size: 0.9em;
	text-align: center;
	margin: 7px auto 3px auto;
}
.thumbs p i{
	color:#EF4836;
}

.prints{
	width: 180px;
	position: absolute;
	top:30%;
	left:5%;
}

.prints ul{
	list-style: none;
	padding-left: 5px;
}

.prints li{
	width: 100%;
	margin:2%;
	font:normal normal bold 18px 'peignot_demiregular';
}
.prints li a{
	text-decoration: none;
	color:black;
}
