.book{
  width: 100%;
  margin: 2% 0;
  display: inline-block;
}

.book .img{
  float: left;
  width: 30%;
  margin: 0 2.5%;
}

.img img{
  width: 100%;
}

.info{
  float: right;
  width: 60%;
  margin: 0 2.5%;
}

.info ul{
  width: 100%;
  padding-left: 20px;
  margin: 0;
}

.info ul li{
  width: 100%;
  margin: 4px 0;
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 0.8em;
  list-style: none;
  display: block;
}

.info ul li p{
  width: 100;
}

.info ul li strong{
  color:#333;

}

.info button{
  margin: 3%;
  max-width: 50%;
  display: inline-block;
}


.button {
  border: 0 none;
  border-radius: 18px;
  padding: 4px 6px;
  margin: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  text-align: center;
  line-height: 1.3;
  font-size: 14px;
  color: #fff;
  text-transform: none;
  font-weight: 500;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
}

.button:focus{
  outline:0;
}
.button:hover {
  opacity: .95;
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}
.button:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}
.button.-border {
  background: transparent;
  border: 2px solid #EF4836;
  color: #EF4836;
}
.button.-border:hover, .button.-border.-active {
  background: #EF4836;
  border-color: #EF4836;
  color: #FFFFFF;
}

.checkout{
    position: fixed;
    bottom: 4%;
    right:5%;
    background-color:#eeeeee !important;
}

.checkout:hover{
  background-color: #EF4836 !important;
}


@media only screen and (min-width : 641px) {
 
}

@media only screen and (min-width : 1024px) {
  .book{
  width: 45%;
  margin: 1% 2.5%;
  min-height: 220px;
  }
}