/* GRID BASED ([{"media":"default","options":{"gutter":"0.25","columns":4,"width":"100%"}},{"media":"only screen and (min-width : 641px)","options":{"gutter":"0.25","columns":8,"width":"90%"}},{"media":"only screen and (min-width : 1024px)","options":{"gutter":"0.25","columns":12,"width":"80%","maxWidth":"1232px"}}]) */
/* lte IE 9 style*/
.quick_contact a {
	-pie-background: linear-gradient( top,#8AE2FF 0%, #23C8FE 4%, #01B6F1 98%);
	border-radius: 16px;
	position: relative;
}

.quick_contact a:hover {
	-pie-background: linear-gradient( top,#8AE2FF 0%, #01BDFC 4%, #019FD3 98%);
	position: relative;
}

.quick_contact a {
	position: relative;
}

@media only screen and (min-width : 641px)  { }@media only screen and (min-width : 1024px)  { }