#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    margin:0 auto;
    padding:0;
    overflow: hidden; /* add */
    vertical-align: top;
}
#photos img {
    /* Just in case there are inline attributes */
    display: block; /* add */
    width: 100%;
    height: 100%;
    padding:0;
    margin:0 0 2% 2%;
    object-fit: cover;
}

/* CSS Document */
 @media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}