.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.workContainer{
	width: 100%;
	margin:0 auto;
	background-color: green;
}

.workAlign{
	display: inline-block;
}
#arrowL{
	background-color: red;
	vertical-align: top;
	margin-top:250px;
}

#arrowR{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-image: url("/img/arrowR.png");
	background-color: red;
	vertical-align: top;
	margin-top:250px;
}
#work{
	max-width: 500px;
	margin:10px 3px;
}

#work img{
	height: auto;
	max-width: 500px;
	margin:0px auto;
}

